.*.swp
._*
.DS_Store
.git
.hg
.idea
.npmrc
.vscode
.github
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
*.tgz

# Repo related
.all-contributorsrc
.editorconfig
.eslintignore
.eslintrc.js
.prettierrc.json
.prettierignore
.whitesource
renovate.json
jest.config.js

# Custom
*.ps1
coverage
src
src/**/*
test/**/*
test
.github
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/*.log
**/*.zip

!dist/**/*
!platforms
!workspace
!*.md
!.swcrc
!package.json
!yarn.lock
!tsconfig.json
